@import "https://fonts.googleapis.com/css?family=Roboto";
body { font-family: Arial, Helvetica, sans-serif; margin: 0; }

input { outline: none; }

p { margin: 0; }

h1 { text-align: center; font-size: 28px; font-weight: bold; text-transform: uppercase; margin: 40px 0; }

@media (min-width: 1200px) { h1 { font-size: 24px; margin: 30px 0; } }

@media (max-width: 599px) { h1 { font-size: 22px; margin-top: 20px; margin-bottom: 0; } }

.guest-card-container { display: grid; grid-template-columns: min-content 1fr; grid-template-rows: min-content min-content min-content; gap: 0px 15px; grid-auto-flow: row; background-color: #f4f5f7; grid-template-areas: "guest-card-photos-container guest-card-title-container" "guest-card-photos-container guest-card-guests-container" "guest-card-photos-container guest-card-author-container"; }

@media (max-width: 599px) { .guest-card-container { display: grid; grid-template-columns: min-content 1fr; grid-template-rows: min-content min-content; gap: 0px 5px; grid-auto-flow: row; grid-template-areas: "guest-card-photos-container guest-card-title-container" "guest-card-photos-container guest-card-guests-container"; } }

.guest-card-photos-container { grid-area: guest-card-photos-container; }

.guest-card-title-container { grid-area: guest-card-title-container; }

@media (min-width: 600px) { .guest-card-author-container { grid-area: guest-card-author-container; } }

@media (max-width: 599px) { .guest-card-author-container { display: none; } }

.guest-card-all-container { display: grid; grid-template-columns: 1fr; grid-template-rows: min-content; gap: 10px 0px; grid-auto-flow: row; grid-template-areas: "."; }

.guest-card-author-container { display: grid; grid-template-columns: min-content 1fr; grid-template-rows: min-content; gap: 0px 5px; grid-auto-flow: column; align-items: center; align-content: end; margin-bottom: 5px; grid-template-areas: "gc-author-image gc-author-text"; }

@media (max-width: 599px) { .guest-card-author-container { margin-top: 5px; } }

.gca-author-image { grid-area: gc-author-image; width: 25px; height: 25px; }

.gca-author-name { text-transform: uppercase; }

@media (max-width: 599px) { *.guest-card-author-container { display: none; } }

.guest-card-guests-container { display: grid; grid-template-columns: 1fr; grid-template-rows: min-content; gap: 0px 0px; grid-auto-flow: row; align-self: start; grid-template-areas: "gc-guest-text"; }

.gc-guest-text { grid-area: gc-guest-text; }

.guest-card-photos-container { display: grid; grid-auto-rows: 1fr; grid-template-columns: 1fr; grid-template-rows: 1fr; gap: 0px 0px; width: 140px; height: 140px; }

@media (max-width: 599px) { .guest-card-photos-container { width: 110px; height: 110px; } }

.gcp-background { display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; gap: 0px 0px; grid-template-areas: "."; grid-area: 1 / 1 / 2 / 2; }

@media (max-width: 599px) { .gcp-background { display: none; } }

.gcp-cards-1 { display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; gap: 2px 2px; grid-template-areas: "."; grid-area: 1 / 1 / 2 / 2; }

.gcp-cards-2 { display: grid; grid-template-columns: 1fr 1fr; gap: 0px 2px; grid-area: 1 / 1 / 2 / 2; }

.gcp-cards-2 .gcp-card { height: 100%; object-fit: cover; }

.gcp-cards-3 { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; gap: 2px 2px; grid-template-areas: ". ." ". ."; grid-area: 1 / 1 / 2 / 2; }

.gcp-cards-4 { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; gap: 2px 2px; grid-template-areas: ". ." ". ."; grid-area: 1 / 1 / 2 / 2; }

.gcp-card { width: 100%; max-width: 100%; object-fit: cover; }

.gcp-background-image { width: 100%; max-width: 100%; object-fit: cover; }

.gcp-play { display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; gap: 0px 0px; grid-template-areas: "."; justify-items: end; align-items: end; grid-area: 1 / 1 / 2 / 2; }

.gcp-play-image { width: 15%; height: 15%; opacity: 90%; padding-right: 4%; padding-bottom: 4%; }

.guest-card-title-container { display: grid; grid-template-columns: 1fr; grid-template-rows: min-content; gap: 0px 0px; grid-auto-flow: row; align-self: end; grid-template-areas: "gct-title"; }

@media (max-width: 599px) { .guest-card-title-container { align-self: start; margin-top: 5px; } }

.gct-title { grid-area: gct-title; align-self: end; font-size: 16px; }

@media screen and (min-width: 320px) { .gct-title { font-size: calc(16px + 2 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .gct-title { font-size: 18px; } }

@media (max-width: 599px) { .gct-title { text-transform: none; } }

.gct-title-href { text-decoration: none; color: #0037Be; }

.gct-title-href:link { color: #0037Be; }

.gct-title-href:visited { color: #0037Be; }

.gct-title-href:hover { color: #012072; }

#unsupported-browser { display: none; width: 100%; background-color: red; margin-bottom: 10px; }

#browser-not-supported-message { color: white; text-align: center; }

.feed-section { display: grid; margin-top: 10px; margin-left: 25px; margin-right: 25px; row-gap: 15px; }

@media (max-width: 599px) { .feed-section { margin-left: 5px; margin-right: 5px; align-items: start; column-gap: 0px; } }

.feed-section .feed-card { display: grid; grid-template-columns: 110px 1fr; grid-template-rows: 110px; column-gap: 20px; border-top: lightgrey; border-width: 1px; border-top-style: solid; }

.feed-section .feed-card .feed-card-image { grid-area: 1 / 1 / 2 / 2; }

.feed-section .feed-card .feed-card-gradient-overlay { grid-area: 1 / 1 / 2 / 2; }

.feed-section .feed-card .feed-card-glyph { grid-area: 1 / 1 / 2 / 2; }

@media (max-width: 599px) { .feed-section .feed-card { column-gap: 10px; } }

.feed-section .feed-card-image { grid-area: feed-card-image; }

.feed-section .feed-card-gradient-overlay { display: none; grid-area: feed-card-gradient-overlay; }

.feed-section .feed-card-glyph { width: 15px; height: auto; margin-top: 5px; margin-left: 5px; }

.feed-section .feed-item-image { width: 100%; height: 100%; object-fit: cover; vertical-align: middle; }

.feed-section .feed-card-content { display: grid; grid-template-columns: 1fr; grid-template-rows: min-content auto min-content; grid-template-areas: "feed-card-title"  "feed-card-excerpt" "feed-card-author"; }

.feed-section .feed-card-title { grid-area: feed-card-title; margin-top: 5px; }

@media (max-width: 599px) { .feed-section .feed-card-title { margin-top: 2px; } }

.feed-section .feed-card-excerpt { grid-area: feed-card-excerpt; margin-top: 5px; }

@media (max-width: 599px) { .feed-section .feed-card-excerpt { margin-top: 0px; display: none; } }

.feed-section .feed-card-author { grid-area: feed-card-author; align-content: flex-end; margin-bottom: 5px; }

@media (max-width: 599px) { .feed-section .feed-card-author { margin-bottom: 2px; } }

.feed-section .feed-item-title { font-size: 11px; }

@media screen and (min-width: 320px) { .feed-section .feed-item-title { font-size: calc(11px + 7 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-section .feed-item-title { font-size: 18px; } }

.feed-section .feed-item-link { text-decoration: none; color: #0037Be; }

.feed-section .feed-item-link:link { color: #0037Be; }

.feed-section .feed-item-link:visited { color: #0037Be; }

.feed-section .feed-item-link:hover { color: #012072; }

.feed-section .feed-item-excerpt { font-size: 11px; color: grey; }

@media screen and (min-width: 320px) { .feed-section .feed-item-excerpt { font-size: calc(11px + 5 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-section .feed-item-excerpt { font-size: 16px; } }

.feed-section .feed-item-author { font-size: 11px; text-transform: uppercase; color: grey; }

@media screen and (min-width: 320px) { .feed-section .feed-item-author { font-size: calc(11px + 3 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-section .feed-item-author { font-size: 14px; } }

@media (max-width: 599px) { .feed-section .feed-item-author { text-transform: lowercase; } }

.feed-latest { display: grid; margin-top: 5px; }

.feed-latest .feed-card { display: grid; grid-template-columns: 1fr; grid-template-rows: 350px; }

.feed-latest .feed-card .feed-card-image { grid-area: 1 / 1 / 2 / 2; }

.feed-latest .feed-card .feed-card-gradient-overlay { grid-area: 1 / 1 / 2 / 2; }

.feed-latest .feed-card .feed-card-glyph { grid-area: 1 / 1 / 2 / 2; }

.feed-latest .feed-card .feed-card-content { grid-area: 1 / 1 / 2 /2; }

@media (max-width: 599px) { .feed-latest .feed-card { grid-template-rows: 150px; } }

.feed-card-image { display: grid; height: 1fr; width: 1fr; }

.feed-latest .feed-item-image { width: 100%; max-height: 100%; object-fit: cover; }

.feed-latest .feed-card-gradient-overlay { display: grid; }

.feed-latest .feed-card-glyph { display: grid; align-self: start; margin-left: 25px; margin-top: 25px; }

@media (max-width: 599px) { .feed-latest .feed-card-glyph { margin-left: 5px; margin-top: 5px; } }

.feed-latest .feed-item-glyph { width: auto; height: 25px; }

.feed-latest .feed-card-content { display: grid; margin-left: 25px; margin-right: 25px; margin-bottom: 25px; align-self: end; grid-template-rows: min-content min-content min-content; grid-template-columns: 1fr; background-color: rgba(0, 0, 0, 0.75); grid-template-areas: "feed-card-title"  "feed-card-excerpt"  "feed-card-author"; }

@media (max-width: 599px) { .feed-latest .feed-card-content { margin-left: 5px; margin-right: 5px; margin-bottom: 5px; } }

.feed-latest .feed-card-title { grid-area: feed-card-title; align-self: end; margin-left: 5px; margin-right: 5px; margin-top: 5px; }

@media (max-width: 599px) { .feed-latest .feed-card-title { margin-bottom: 5px; } }

.feed-latest .feed-card-excerpt { grid-area: feed-card-excerpt; align-self: end; margin-left: 5px; margin-right: 5px; margin-top: 2px; }

@media (max-width: 599px) { .feed-latest .feed-card-excerpt { display: none; } }

.feed-latest .feed-card-author { grid-area: feed-card-author; align-self: end; margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px; }

@media (max-width: 599px) { .feed-latest .feed-card-author { display: none; } }

.feed-latest .feed-item-title { font-size: 11px; text-transform: uppercase; }

@media screen and (min-width: 320px) { .feed-latest .feed-item-title { font-size: calc(11px + 7 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest .feed-item-title { font-size: 18px; } }

.feed-latest .feed-item-link { text-decoration: none; color: #ffffff; }

.feed-latest .feed-item-link:link { color: #ffffff; }

.feed-latest .feed-item-link:visited { color: #ffffff; }

.feed-latest .feed-item-link:hover { color: #0063f2; }

.feed-latest .feed-item-excerpt { font-size: 11px; color: lightgray; }

@media screen and (min-width: 320px) { .feed-latest .feed-item-excerpt { font-size: calc(11px + 5 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest .feed-item-excerpt { font-size: 16px; } }

.feed-latest .feed-item-author { font-size: 11px; text-transform: uppercase; color: lightgray; }

@media screen and (min-width: 320px) { .feed-latest .feed-item-author { font-size: calc(11px + 3 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest .feed-item-author { font-size: 14px; } }

.feed-latest-posts { display: grid; grid-column: 1fr; margin-top: 5px; }

.feed-latest-post-cards { display: grid; grid-template-columns: 1fr; gap: 10px; }

@media (max-width: 599px) { .feed-latest-post-cards { gap: 5px; } }

.feed-latest-post-cards .feed-card-content { display: grid; margin-left: 15px; margin-right: 15px; margin-bottom: 15px; }

@media (max-width: 599px) { .feed-latest-post-cards .feed-card-content { margin-left: 2px; margin-right: 2px; margin-bottom: 2px; } }

.feed-latest-post-cards .feed-item-image { height: 100%; }

@media (max-width: 599px) { .feed-latest-post-cards .feed-item-image { gap: 5px; } }

.feed-latest-post-cards .feed-card-glyph { grid-area: feed-card-glyph; align-self: start; margin-left: 10px; margin-top: 10px; }

.feed-latest-posts .feed-item-title { font-size: 11px; text-transform: uppercase; }

@media screen and (min-width: 320px) { .feed-latest-posts .feed-item-title { font-size: calc(11px + 7 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest-posts .feed-item-title { font-size: 18px; } }

.feed-latest-posts .feed-item-link { text-decoration: none; color: #ffffff; }

.feed-latest-posts .feed-item-link:link { color: #ffffff; }

.feed-latest-posts .feed-item-link:visited { color: #ffffff; }

.feed-latest-posts .feed-item-link:hover { color: #0063f2; }

.feed-latest-posts .feed-item-excerpt { font-size: 11px; color: lightgray; }

@media screen and (min-width: 320px) { .feed-latest-posts .feed-item-excerpt { font-size: calc(11px + 5 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest-posts .feed-item-excerpt { font-size: 16px; } }

.feed-latest-posts .feed-item-author { font-size: 11px; text-transform: uppercase; color: lightgray; }

@media screen and (min-width: 320px) { .feed-latest-posts .feed-item-author { font-size: calc(11px + 3 * (100vw - 320px) / 960); } }

@media screen and (min-width: 1280px) { .feed-latest-posts .feed-item-author { font-size: 14px; } }

.footer-section { display: grid; margin-top: 25px; margin-bottom: 50px; grid-template-columns: 1fr; grid-template-rows: 20px 20px 20px; }

.footer-data { display: grid; height: 100%; grid-auto-flow: column; justify-items: center; align-content: center; justify-content: space-evenly; grid-row: 1; }

.footer-copyright { display: grid; height: 100%; grid-auto-flow: column; justify-items: center; align-content: center; justify-content: space-evenly; grid-row: 2; }

.footer-item { font-size: calc(12px + .2vw); text-transform: uppercase; color: #0037Be; text-decoration: none; }

.footer-item:hover { font-weight: bold; }

.footer-item:visited { color: #0037Be; }

.footer-item:active { font-weight: bolder; }

.markdown-section { margin-top: 25px; margin-left: auto; margin-right: auto; width: 75%; }

.markdown-section p { width: auto; margin-bottom: 1em; }

@media (max-width: 599px) { .markdown-section { width: 95%; } }

.markdown-section img { max-width: 100%; height: auto; margin-left: auto; margin-right: auto; display: block; }

.markdown-section .podcast-player { margin-left: auto; margin-right: auto; width: 100%; max-height: 100px; }

.markdown-section .gumroad-button { margin-left: auto; margin-right: auto; display: block; }

.markdown-section .guest-photos { display: grid; grid-auto-flow: column; grid-gap: 5px; align-content: start; justify-content: start; }

.markdown-section .guest-photo { width: 150px; height: 150px; object-fit: cover; }

@media (max-width: 599px) { .markdown-section .guest-photo { width: 75px; height: 75px; } }

.markdown-section h2 { margin-top: 1em; margin-bottom: .25em; color: #012072; }

.markdown-section h3 { margin-top: 1em; margin-bottom: .25em; color: #012072; }

.nav-wrapper { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 30px auto; margin-left: 25px; margin-right: 25px; }

@media (max-width: 599px) { .nav-wrapper { grid-template-columns: 1fr auto; } }

.nav-logo { display: grid; grid-column: 1; }

@media (max-width: 599px) { .nav-logo { justify-items: center; } }

.nav-logo-image { width: auto; height: 30px; }

.nav-items { display: grid; grid-auto-flow: column; justify-items: end; height: 100%; align-content: center; justify-content: space-evenly; grid-column: 2; }

@media (max-width: 599px) { .nav-items { grid-column: 1; grid-row: 2; margin-top: 5px; justify-items: start; } }

.nav-item { font-size: calc(12px + .15vw); text-transform: uppercase; color: #0037Be; text-decoration: none; }

.nav-item:hover { font-weight: bold; }

.nav-item:visited { color: #0037Be; }

.nav-item:active { font-weight: bolder; }

#nav-toggle, .burger-menu { display: none; }

.page-section { display: grid; margin-top: 5px; }

.page-section .page-card { display: grid; grid-template-columns: 1fr; grid-template-rows: 350px; }

.page-section .page-card .page-card-image { grid-area: 1 / 1 / 2 / 2; }

.page-section .page-card .page-card-gradient-overlay { grid-area: 1 / 1 / 2 / 2; }

.page-section .page-card .page-card-content { grid-area: 1 / 1 / 2 /2; }

@media (max-width: 599px) { .page-section .page-card { grid-template-rows: 150px; } }

.page-section .card-item-image { width: 100%; max-height: 100%; object-fit: cover; }

.page-section .page-card-gradient-overlay { display: grid; max-width: 100%; background: black; background: linear-gradient(0deg, black 0%, black 25%, rgba(255, 255, 255, 0) 100%); }

.page-section .page-card-content { display: grid; margin-left: 25px; margin-right: 25px; align-content: end; grid-template-rows: min-content min-content min-content; grid-template-columns: 1fr; grid-template-areas: "page-card-title"; }

@media (max-width: 599px) { .page-section .page-card-content { margin-left: 5px; margin-right: 5px; } }

.page-section .page-card-title { grid-area: page-card-title; align-self: center; }

@media (max-width: 599px) { .page-section .page-card-title { margin-bottom: 5px; } }

.page-section .card-item-title { color: #ffffff; }

.playpod-section { display: grid; justify-content: center; align-content: center; background-color: #0037Be; height: 24px; margin-top: 5px; }

.btn-play-small { align-items: center; background: #ffffff; border-radius: 100%; display: inline-flex; height: 16px; justify-content: center; position: relative; width: 16px; }

.btn-play-small:after { border-color: transparent; border-style: solid; border-width: 4px; border-left-color: #0037Be; border-left-width: 8px; border-right-width: 0; content: ''; height: 0; margin-left: 2px; width: 0; }

.play-podcast { color: #ffffff; font-size: 12px; text-decoration: none; text-transform: uppercase; }

.play-podcast:hover { color: #ffffff; font-weight: bold; }

.play-podcast:link { color: #ffffff; }

.play-podcast:visited { color: #ffffff; }

.play-podcast:hover { color: #ffffff; }

.play-podcast span { margin-right: 10px; }

.services-page-section { display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); margin-top: 10px; margin-left: 25px; margin-right: 25px; column-gap: 1vw; row-gap: 1vw; }

@media (max-width: 599px) { .services-page-section { margin-left: 5px; margin-right: 5px; align-items: start; column-gap: 0px; } }

.services-page-image { width: 100%; height: 250px; object-fit: cover; border-radius: 5px; }

.services-page-title { font-size: calc(12px + .4vw); color: #0037Be; text-decoration: none; text-transform: uppercase; }

.services-page-title:link { color: #0037Be; }

.services-page-title:hover { color: #0037Be; }

.services-page-title:active { color: #0037Be; }

.services-page-title:visited { color: #0037Be; }

.services-page-excerpt-div { line-height: 1.25em; }

.servies-page-list { list-style-type: none; }

.servies-page-list { font-family: Roboto; font-size: 13px; line-height: 1.5em; margin: 5px 0 15px; padding: 0; }

.servies-page-list li { list-style: none; position: relative; padding: 0 0 0 20px; }

.services-page-bullet::before { content: ""; position: absolute; left: 2px; top: 5px; width: 3px; height: 6px; border: solid #8bd88d; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

.site-container { margin: auto; display: grid; max-width: 1366px; min-width: 300px; margin-top: 25px; }

.services-section { display: grid; margin-top: 10px; grid-template-columns: 1fr 1fr; align-items: center; justify-items: center; grid-auto-flow: row dense; margin-left: 25px; margin-right: 25px; }

@media (max-width: 599px) { .services-section { margin-left: 5px; margin-right: 5px; } }

.services-section-text { margin-left: calc(5px + .2vw); margin-right: calc(5px + .2vw); }

.services-section > :nth-child(4n-1) { grid-column-start: 2; }

.services-image { width: 100%; height: auto; border-radius: 5px; }

.services-title { font-size: calc(12pt + .2vw); font-weight: bold; margin-bottom: .25em; }

.services-description { font-size: calc(8pt + .2vw); margin-bottom: 1em; }

.button-services { font-size: calc(8pt + .08vw); padding-top: calc(.25em + .08vw); padding-bottom: calc(.2em + .08vw); padding-left: calc(.25em + .08vw); padding-right: calc(.25em + .08vw); color: #0063f2; background-color: #ffffff; text-align: center; text-transform: uppercase; font-weight: bold; border: 1px solid #0063f2; }

.button-services:link { text-decoration: none; }

.button-services:visited { text-decoration: none; }

.podcast-badges { display: grid; grid-template-columns: repeat(auto-fill, 130px); justify-content: start; gap: 5px; }

@media (max-width: 599px) { .podcast-badges { justify-content: center; } }

.podcast-badge { display: grid; width: auto; height: 100%; }

/* uncomment for a visual representation of the grid */

/*# sourceMappingURL=cambermast.css.map */